*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem => 10px = 16px * 0.625

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem => 9px = 16px * 0.5625
    }
    
    @include respond(tab-port) {
        font-size: 50%; // 1rem => 8px = 16px * 0.5
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem => 12px = 16px * 0.75
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}